.ui-datatable input {
    box-sizing: border-box;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
.ui-datatable {
    margin-bottom: 25px
}

.ui-datatable .ui-datatable-header {
    text-align: right !important;
}

.ui-button-text-only .ui-button-text {
    padding: 0.3em 0.4em;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
    visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}

.year-spinner input {
    width: 100%;
    box-sizing: border-box;
}

